__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

.idea/
.vscode/
.DS_Store
Thumbs.db

model_weights/
results/
training_process_data/

*.pth
*.pt
*.ckpt
*.zip
*.tar
*.tar.gz
*.rar
*.log

.ipynb_checkpoints/
